venv/
.venv/
__pycache__/
*.pyc
.vscode/
.idea/
android/.idea/
android/.gradle/
android/app/build/
.env
*.pem
instance/*.db
instance/logs/
static/nabavki/
static/nabavki_chat/
static/pozicii/
static/polugotov_errors/
static/kvalitet_pdf/
static/kvalitet_sliki/
